:root{
  font-family: sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.b-container{
  display: flex;
  gap:1rem;
  align-items: center;
  justify-content: center;
}

.btn-container {
  font-family: sans-serif;
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  text-align: center;
}
.btn-container .radio-checkbox {
  display: none;
}
.btn-container .btns-container {
  background-color: bisque;
  border: 4px solid sienna;
  border-bottom: none;
  padding: 0.5rem;
  padding-bottom: 0;
  display: inline-flex;
  gap: 0.2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.btn-container .radio-btn {
  user-select: none;
  transform: translateY(40%);
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.2s;
  box-shadow: inset -0.2rem 0.1rem 0.2rem 0.2rem rgba(253, 253, 253, 0.3);
}
.btn-container .radio-btn::before {
  content: "";
  display: inline-block;
  width: 50%;
  height: 0.2rem;
  background-color: #eee;
  position: absolute;
  top: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
}
.btn-container .radio-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
.btn-container .radio-btn.active {
  transform: translateY(0);
}
.btn-container .radio-btn.active::before {
  background-color: aquamarine;
}

.button-container1 {
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  background-color: black;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
}
.button-container1 .btn-checkbox {
  display: none;
}
.btn,
.btn-inner,
.btn-outer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.button-container1 .btn {
  --btn-color: red;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #030104;
  color: white;
  box-shadow: inset 0 -1px 1px 0 white, inset 0 1px 3px 0 black;
}
.button-container1 .btn-outer {
  background-color: var(--btn-color);
  box-shadow: 1px 1px 2px 2px black, inset 0 0 2px 0px black;

  width: 85%;
  height: 85%;
  border-radius: 50%;
}
.button-container1 .btn-inner {
  background: black linear-gradient(to top, rgba(255, 255, 255, 0.4), black);
  box-shadow: inset 0 1px 1px 0 white, inset 0 -3px 5px 0 black,
    0 0 5px 2px black;

  width: 80%;
  height: 80%;
}
.button-container1 .btn-icon {
  width: 30px;
  height: 30px;
}
.button-container1 .btn-icon path {
  fill: var(--btn-color);
}

.button-container1 .btn.active {
  --btn-color: rgb(18, 223, 15);
}
